@model MVCProject.Models.Guestbooks



@using (Html.BeginForm("Add", "Guestbook"))
{
    <h3>新增留言</h3>
    <table>
        
        <tr>
            <td>
                @Html.LabelFor(model => model.Acount)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Acount)
                @Html.ValidationMessageFor(model => model.Acount)
            </td>
        </tr>
        
        <tr>
            <td>
                @Html.LabelFor(model => model.Contents)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Contents)
                @Html.ValidationMessageFor(model => model.Contents)
            </td>
        </tr>
    </table>
    <input type="submit" value="新增留言" />
}